<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:layout name="Default" />
	<f:section name="main">

		<f:flashMessages />
		<f:render partial="RssApp/{settings.template}" section="Default" arguments="{_all}" />

	</f:section>
</html>
